
pages #section1{}

pages #section1 quadro{

  width:315px;
  height:600px;
  float:left;

}

pages #section1 quadro figure{

  width:100%;
  height:300px;

}

pages #section1 quadro:nth-child(1) figure{
  background-image:var(--imagebox1);
}

pages #section1 quadro:nth-child(2)  figure{
  background-image:var(--imagebox2);
}

pages #section1 quadro:nth-child(3)  figure{
  background-image:var(--imagebox3);
}

pages #section1 button{

  background-color:var(--color2);
  border-radius: 20px;
  padding: 10px 30px;
  color:#fff;
  width:calc(100% - 70px);
  font-size:120%;
  display:block;
  margin:0 auto;
  cursor:pointer;

}

pages #section1 icon{

  margin-right:5px;
  font-size:80%;
  color:lightgreen;

}

pages #section1 p{

  width: calc(90% - 20px);
  line-height: 1.5;
  margin: 0 auto;
  height:160px;
  color:var(--color1);
  margin-bottom:20px;

}