
pages #section3 p{

  text-align:center;
  margin:0 auto;
  display:block;
  font-size:120%;
  margin-top:40px;
  color:var(--color1);
  padding:0 60px;


}

pages #section3 figure{

  max-width:700px;
  height:380px;
  margin:20px auto;
  background-image:var(--parceiros);
  background-size: 100% auto;
  
}