pages banner{

  height:700px;
  width:100%;
  background-size:cover;
  background-image:var(--banner);
  background-position:center center;
  float:left;

}

pages banner div{

  border-radius: 20px;
  box-shadow: 0px 1px 7px -2px #000;
  padding: 10px 30px;
  margin-top:60px;
display:none;
}

pages banner .sou_paciente{

  margin-left:60px;
  float: left;
  background-color:var(--color1);

}

pages banner .sou_medico{

  margin-right:60px;
  float: right;
  background-color: var(--color2);

}

pages banner a{

  color: #fff;
  font-size:150%;
  display:block;


}

pages banner a.login{
  font-size:100%;
}
pages banner .sou_medico a.login{
  float:right;
}

