@media (max-width: 960px) { 

  pages footer logo {margin:0 !important;width:100% !important;background-position:center center !important;}
  pages #section1 p {height:auto !important;}
  pages #section1 quadro{height:auto !important;width:100% !important;margin-bottom:100px !important;}
  pages footer ul {width:100% !important;margin:0 0 30px 0 !important;}
  pages footer li {text-align:center !important;}
  pages h m {display:none !important;}
  pages #section2 iframe {width:480px;height:270px;}
  pages banner container{position: absolute;bottom: 40px;width: 100%;}
  pages banner {position:relative;height: calc(100% - 90px);}
  pages banner div {margin:20px auto !important; float:none !important;width: calc(100% - 160px);}
  pages banner div a {text-align:center !important;width:100% !important;}

}