html{
height: 100%;
}


body{
background-image:url(/landingpages/queroajuda/img/mao.png);
background-size: auto 130%;
background-color: #fcfbfb;
background-position: center center;
background-repeat: no-repeat;
margin: 0;
height: 100%;
width:100%;
}



img#logo1{
display: block;
text-align: center;
margin: 20px auto 0;
padding: 20px;
}

div#texto{
background-color: rgba(153,153,153,0.3);
font-family: verdana;
font-size: 12pt;
text-align: center;
color: black;
padding: 20px;
width: 500px;
margin: 20px auto 0;
}

p{
line-height:1.4;
}

button{
background-color: #e15930;
font-size: 12pt;
color: white;
padding: 20px;
margin-left: 25px;
cursor: pointer;
border-radius: 10px;
border: none;
}

h1{
  display: block;
text-align: center;
margin: 20px auto 0;
padding: 20px;
  color:#e15930;
 
}