body[logged="0"] pages {
  display: block;
}

pages {
  display: none;
}

pages section {
  background-color: #fff;
  background-position: center;
  float: left;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

pages section:nth-child(2) h1 {
  display: none;
}

pages section content h1 {
  padding:15px;
  font-size: 300%;
  margin: 0 auto;
  width: min-content;
  border-bottom: 3px solid var(--suitecolor2);
  white-space: nowrap;
  margin-bottom:50px;
  font-style:italic;
  font-weight:normal;
}

pages section content p {
  margin-bottom: 10px;
  line-height: 1.5;
}

pages section#section-home {
  height: 500px;
}

pages section:last-child {
  padding-bottom: 200px;
}

pages p a {
  text-decoration: underline;
  font-weight: bold;
}