
body[suites='1'] pages #section12 {background-attachment: initial;background-image:url(https://firebasestorage.googleapis.com/v0/b/doctor8-edbb2.appspot.com/o/pages%2Fsection12%2Fsection12banner1.jpg?alt=media&token=89e00501-eb96-4698-a3a6-3c735d8ba412);background-position: center center;background-repeat:no-repeat;background-size:100%;height: 180px;}
