body[suites='1'] pages #section8 {
  background-attachment: initial;
  height:400px;background-image:var(--section08banner01);
  background-position: center center;background-repeat:no-repeat;background-size:cover;}

body[suites='1'] pages #section8 div{cursor:pointer;width:100%;height:100%;float:left;}
