body[suites='1'] pages #section1 img{
background-color:#ccc;
content:var(--banner1);

background-size:cover;
background-position:center;
border-bottom:5px solid #de5c35;
float:left;

margin:0;
border:0;
width:100%;
}

body[suites='1'] pages #section1{
padding:40px 0 0 0;
}

body[suites='1'] pages #section1 content {
  margin: 0 auto;
  max-width: none;
}

body[suites='1'] pages #section1 figure[order="2"]{
background-color:#ccc;
background-image:var(--banner2);
background-size:cover;border-bottom:5px solid #176b89;float:right;height:112px;margin:0 0 15px 0;width:200px;
background-color:#ccc;
background-position: 100%;
}

body[suites='1'] pages #section1 figure[order="3"]{
background-color:#ccc;
background-image:var(--banner3);
background-position: 100%;
background-size:cover;border-bottom:5px solid #176b89;float:right;height:112px;margin:0 0 15px 0;width:200px;
background-color:#ccc;
}

body[suites='1'] pages #section1 figure[order="4"]{
background-color:#ccc;
background-image:var(--banner4);
background-position:100%;  
background-size:cover;border-bottom:5px solid #176b89;float:right;height:112px;width:200px;
background-color:#ccc;
}