body[suites='1'] pages #section4 {
  background-color: #176b89;
}

body[suites='1'] pages #section4 div {
  width: 300px;
  height: 400px;
  float: left;
}

body[suites='1'] pages #section4 figure {
  float: left;
  width: 200px;
  height: 200px;
  margin: 20px 50px 0 50px;
  background-position: center;
  background-size: cover;
}

body[suites='1'] pages #section4 h2 {
  float: left;
  text-align: center;
  width: 200px;
  color: #fff;
  font-style: italic;
  margin: 0 50px 0 50px;
}

body[suites='1'] pages #section4 span {
  width: 300px;
  float: left;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

body[suites='1'] pages #section4 p {
  width: 240px;
  float: left;
  text-align: center;
  color: #fff;
  margin: 10px 30px 0 30px;
}

body[suites='1'] pages #section4 button {
  width: 240px;
  height: 50px;
  color: #fff;
  margin: 0 auto;
  background-color: transparent;
  border: 2px solid #fff;
}


body[suites='1'] pages #section4 div:nth-child(1) figure {
  background-image:var(--section04figure01);
}

body[suites='1'] pages #section4 div:nth-child(2) figure {
  background-image:var(--section04figure02);
}

body[suites='1'] pages #section4 div:nth-child(3) figure {
  background-image:var(--section04figure03);
}